.login {
  width: 100vw;
  max-width: 500px;
  color: white;
  margin: auto;
  padding-top: 10vh;
  font-family: "Montserrat", cursive;

  &__goBack {
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 200px;
    text-align: right !important;

    a {
      color: white;
      text-decoration: none;
    }
  }

  h1 {
    font-family: "Anton", sans-serif;
    font-weight: 300;
    text-align: center;
  }

  form {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;

    label {
      padding-left: 10px;
      padding-bottom: 5px;
    }

    input {
      border-radius: 20px;
      outline: none;
      border: none;
      padding: 5px 10px;
    }

    button {
      color: white;
      background-color: #202020;
      border-radius: 30px;
      border: none;
      padding: 10px;
      margin-top: 30px;
      font-size: 1.5rem;

      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: goldenrod;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__errorContainer {
    text-align: center;
    padding: 20px;
    background-color: rgba(red, 0.2);
  }

  &__redirect {
    text-align: center;
    padding-top: 10px;

    a {
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .login {
    padding-top: 15vh;
  }
}

@media (max-width: 540px) {
  .login {
    padding-top: 20vh;
  }
}
