.platform {
  &__icon {
    width: 30px;
    margin: 0 5px;

    &.nintendo {
      width: 60px;
    }
  }
}

@media (width: 768px) {
  .platform__icon {
    width: 17.5px;

    &.nintendo {
      width: 50px;
    }
  }
}

@media (max-width: 414px) {
  .platform__icon {
    width: 25px;
  }
}
