.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #374b91;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  border-right: 1px solid white;

  // General
  &__title {
    font-size: 2.2rem;
    font-family: Montserrat, sans-serif;
    text-align: right;
    padding-right: 30px;
    cursor: pointer;
  }

  &__subtitle {
    padding: 10px;
  }

  ul {
    list-style-type: none;
    padding-left: 1vw;

    li {
      display: flex;
      align-items: center;
      padding: 2.5px 0;
      position: relative;
    }
  }

  .MuiSwitch-root {
    position: absolute;
    right: 5%;
  }

  &__sectionContainer {
    height: 30vh;
    padding: 10px 0;
    flex: 1;

    &.genres {
      height: 32vh;
    }

    &.metacritic {
      height: 15vh !important;
      flex: 0;
    }
  }

  // Platforms
  &__platformIcon {
    width: 20px;
    margin-right: 10px;
  }

  // Genres
  &__genresContainer {
    height: 30vh;

    .MuiSwitch-root {
      right: 0;
    }

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      li {
        p {
          width: 100%;
        }
      }
    }
  }

  // Metacritic
  &__metacriticContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .MuiSlider-root {
      width: 80%;
      padding-top: 50px;
    }
  }

  // Release Year
  &__releaseContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar__inputContainer {
      width: 40%;

      form {
        display: flex;
        flex-direction: column;

        label {
          padding-left: 10px;
        }

        input {
          outline: none;
          margin: 0 5px;
          border: none;
          border-radius: 20px;
          height: 30px;
          font-size: 1.5rem;
          text-align: center;
          width: max-content;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }
      }
    }
  }

  // Order By
  &__orderByContainer {
    display: flex;
    justify-content: space-evenly;
  }

  &__orderBtn {
    background-color: #f50057;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 5px;
    width: 25%;
    color: white;
    font-family: "Righteous", cursive;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;

    &:hover {
      opacity: 0.7;
    }

    .svg-inline--fa {
      padding-right: 3px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 1600px) {
  .sidebar {
    &__sectionContainer {
      height: max-content !important;
    }
    &__subtitle {
      padding: 1px 10px;
    }
    &__genresContainer {
      ul {
        li {
          padding: 1px 0;
        }
      }
    }

    &__orderBtn {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 1400px) {
  .sidebar {
    max-height: 100vh;

    &__title {
      font-size: 2rem;
    }

    &__genresContainer {
      ul {
        height: 100%;
      }
    }

    &__releaseMin,
    &__releaseMax {
      height: 20px !important;
      font-size: 1.3rem !important;
    }

    &__orderBtn {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 1280px) {
  .sidebar {
    &__sectionContainer {
      * {
        font-size: 0.9rem;
      }
    }

    &__sectionContainer.released > &__subtitle {
      margin-top: -5px;
    }
    &__sectionContainer.orderBy > &__subtitle {
      margin-top: -15px;
    }

    &__platformsContainer {
      ul {
        li {
          padding: 1px 0;
        }
      }
    }
    &__metacriticContainer {
      & > * {
        height: max-content;
      }
    }
    &__releaseContainer {
      .sidebar__inputContainer {
        form {
          display: flex;
          align-items: center;
        }
      }

      & > * {
        flex: 1;
      }
    }
  }
}

@media (max-width: 1024px) {
  .sidebar {
    & > * {
      flex: 0.175;
    }

    &__title {
      font-size: 1.7rem;
    }
    &__subtitle {
      padding: 5px 10px;
    }

    &__sectionContainer {
      padding: 20px 0;

      &.genres {
        display: flex;
        flex-direction: column;
      }

      &.metacritic {
        padding: 0;
      }
    }

    &__genresContainer {
      height: max-content;

      .MuiSwitch-root {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    &__title {
      font-size: 1.35rem;
    }
    &__orderBtn {
      width: 30%;
      font-size: 0.75rem;
    }

    &__sectionContainer.released {
      padding-bottom: 0;
    }

    &__releaseContainer {
      flex-direction: column;

      .sidebar__inputContainer {
        width: 100%;
        margin: 5px 0;
      }
    }

    &__inputContainer {
      label {
        width: 30%;
      }
    }
  }
}

@media (max-width: 540px) {
  .sidebar {
    &__title {
      font-size: 1.05rem;
      padding-right: 10px;
    }
    &__subtitle {
      padding-top: 0;
    }

    &__sectionContainer {
      padding: 5px 0;

      * {
        font-size: 0.7rem;
      }
    }

    &__platformIcon {
      width: 17.5px;
    }

    &__genresContainer {
      .MuiSwitch-root {
        margin-right: 0;
      }
    }

    &__sectionContainer {
      &.metacritic {
        .MuiSlider-valueLabel {
          transform: scale(0.8) !important;
        }

        .MuiSlider-root {
          padding: 30px 0 0 0;
        }
      }

      &.orderBy {
        padding-top: 20px;
      }
    }

    &__metacriticContainer {
      height: 40px;
    }

    &__releaseContainer &__inputContainer {
      margin: 2px 0;
    }

    &__releaseMin,
    &__releaseMax {
      font-size: 0.8rem !important;
    }

    &__orderBtn {
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 414px) {
  .sidebar {
    &__title {
      font-size: 0.95rem;
    }

    &__orderBtn {
      font-size: 0.475rem;
      width: 33%;
    }
  }
}

@media (max-width: 375px) {
  .sidebar {
    &__title {
      font-size: 0.85rem;
    }

    &__subtitle {
      margin: 5px 0;
    }

    &__platformsContainer {
      .MuiSwitch-root {
        right: 0 !important;
      }
    }

    &__sectionContainer {
      &.metacritic {
        .MuiSlider-root {
          transform: scale(0.9);
        }
      }

      &.released,
      &.orderBy {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 375px) and (max-height: 700px) {
  .sidebar {
    &__title {
      font-size: 0.8rem;
    }
    &__subtitle {
      margin: 0;
    }

    .sidebar__sectionContainer {
      &.genres {
        padding: 0;
      }

      &.released,
      &.orderBy {
        margin-top: 0;
      }
    }

    &__inputContainer {
      margin: 0 !important;
    }

    &__releaseMin,
    &__releaseMax {
      padding: 0;
      font-size: 0.7rem !important;
      height: 10px !important;
    }

    &__orderBtn {
      font-size: 0.4rem;
    }
  }
}
