$font-Righteous: "Righteous", sans-serif;
$font-Anton: "Anton", sans-serif;
$font-ChakraPetch: "Chakra Petch", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
$font-BigShoulderDisplay: "Big Shoulder Display", sans-serif;

$metacritic-green: #66cc33;
$metacritic-yellow: #ffcc33;
$metacritic-red: #ff0000;
