.games {
  width: 100vw;
  height: max-content;
  display: flex;
}

.games__left {
  flex: 0.5;
  height: 100vh;
  width: 100px;
  position: relative;
}

.games__right {
  flex: 3;
  max-width: 90vw;
  position: relative;
}

.games__loading {
  position: absolute;
  top: 30vh;
  left: 35vw;
  color: white;
  font-size: 5rem;
}

.games__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2vh;
  justify-content: center;
  align-items: center;
}

.games__pageBtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.games__pageBtns > * {
  width: 100px;
  height: max-content;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  border: 2px solid white;
  border-radius: 100rem;
  color: white;
  font-size: 3rem;
  transition: all 0.4s;
}

.games__pageBtns > *:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
