.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #374b91;
  max-width: 350px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  /* box-shadow: 2px -5px 10px rgba(255, 255, 255, 0.3),
    2px 5px 10px rgba(255, 255, 255, 0.3); */
  border-right: 1px solid white;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 1vw;
}

.sidebar ul > li {
  display: flex;
  align-items: center;
  padding: 2.5px 0;
  position: relative;
}

.sidebar .MuiSwitch-root {
  position: absolute;
  right: 5%;
}

.sidebar .sidebar__genresContainer .MuiSwitch-root {
  right: 0;
}

.sidebar__title {
  font-size: 2.2rem;
  font-family: Montserrat, sans-serif;
  text-align: right;
  padding-right: 30px;
  cursor: pointer;
}

.sidebar__sectionContainer {
  height: 30vh;
  /* height: max-content !important; */
  flex: 1;
}

.sidebar__sectionContainer.genres {
  height: 32vh;
}

.sidebar__subtitle {
  padding: 10px;
}

.sidebar__platformIcon {
  width: 20px;
  margin-right: 10px;
}

.sidebar__genresContainer {
  height: 30vh;
}

.sidebar__genresContainer > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar__genresContainer li > p {
  width: 100%;
  /* padding-right: 10px; */
  /* text-align: right; */
}

.sidebar__sectionContainer.metacritic {
  height: 15vh !important;
  flex: 0;
}

.sidebar__metacriticContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__metacriticContainer .MuiSlider-root {
  width: 80%;
  padding-top: 50px;
}

.sidebar__releaseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__releaseContainer input {
  outline: none;
  margin: 0 5px;
  border: none;
  border-radius: 20px;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  width: max-content;
}

.sidebar__releaseContainer > .sidebar__inputContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.sidebar__releaseContainer > .sidebar__inputContainer label {
  padding-left: 10px;
}

.sidebar__releaseContainer input::-webkit-outer-spin-button,
.sidebar__releaseContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.sidebar__orderByContainer {
  display: flex;
  justify-content: space-evenly;
}

.sidebar__orderBtn {
  background-color: #f50057;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 5px;
  width: 25%;
  color: white;
  font-family: "Righteous", cursive;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
}

.sidebar__orderBtn .svg-inline--fa {
  padding-right: 3px;
  font-size: 1rem;
}

.sidebar__orderBtn:hover {
  opacity: 0.7;
}

@media (max-width: 1600px) {
  .sidebar__sectionContainer {
    height: max-content !important;
  }
  .sidebar__subtitle {
    padding: 1px 10px;
  }
  .sidebar__genresContainer > ul > li {
    padding: 1px 0;
  }
  .sidebar__orderBtn {
    font-size: 0.9rem;
  }
}

@media (max-width: 1400px) {
  .sidebar {
    max-width: 320px;
    max-height: 100vh;
  }

  .sidebar__title {
    font-size: 2rem;
  }

  .sidebar__genresContainer > ul {
    height: 100%;
  }

  .sidebar__releaseMin,
  .sidebar__releaseMax {
    height: 20px !important;
    font-size: 1.3rem !important;
  }
  .sidebar__orderBtn {
    font-size: 0.8rem;
  }
}

@media (max-width: 1280px) {
  .sidebar__platformsContainer ul > li {
    padding: 1px 0;
  }
  .sidebar__metacriticContainer > * {
    height: max-content;
  }
  .sidebar__releaseContainer > .sidebar__inputContainer > form {
    display: flex;
  }
  .sidebar__releaseContainer > * {
    flex: 1;
  }
  .sidebar__sectionContainer.released > .sidebar__subtitle {
    margin-top: -5px;
  }
  .sidebar__sectionContainer.orderBy > .sidebar__subtitle {
    margin-top: -15px;
  }
}

@media (max-width: 1024px) {
  .sidebar > * {
    flex: 0.175;
  }
  .sidebar__sectionContainer {
    padding: 20px 0;
  }
  .sidebar__sectionContainer.genres {
    display: flex;
    flex-direction: column;
  }
  .sidebar__genresContainer {
    height: max-content;
  }
  .sidebar__genresContainer ul > li > .MuiSwitch-root {
    margin-right: 15px;
  }
  .sidebar__subtitle {
    padding: 5px 10px;
  }
}
