.sidebar {
  /* width: 100%;
  height: 100%; */
  position: fixed;
  background-color: #374b91;
  max-width: 325px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  /* box-shadow: 2px -5px 10px rgba(255, 255, 255, 0.3),
    2px 5px 10px rgba(255, 255, 255, 0.3); */
  border-right: 1px solid white;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 1vw;
}

.sidebar ul > li {
  display: flex;
  align-items: center;
  padding: 2.5px 0;
  position: relative;
}

.sidebar .MuiSwitch-root {
  position: absolute;
  right: 5%;
}

.sidebar .sidebar__genresContainer .MuiSwitch-root {
  right: 0;
}

.sidebar__title {
  font-size: 3rem;
  padding-bottom: 1vh;
}

.sidebar__sectionContainer {
  height: 30vh;
  /* height: max-content !important; */
  flex: 1;
}

.sidebar__sectionContainer.genres {
  height: 32vh;
}

.sidebar__subtitle {
  padding: 10px;
}

.sidebar__platformIcon {
  width: 20px;
  margin-right: 10px;
}

.sidebar__genresContainer {
  height: 30vh;
}

.sidebar__genresContainer > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar__genresContainer li > p {
  width: 100%;
  /* padding-right: 10px; */
  /* text-align: right; */
}

.sidebar__sectionContainer.metacritic {
  height: 15vh !important;
  flex: 0;
}

.sidebar__metacriticContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__metacriticContainer .MuiSlider-root {
  width: 80%;
  padding-top: 50px;
}

.sidebar__releaseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__releaseContainer input {
  outline: none;
  margin: 0 5px;
  border: none;
  border-radius: 20px;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  width: max-content;
}

.sidebar__releaseContainer > .sidebar__inputContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.sidebar__releaseContainer > .sidebar__inputContainer label {
  padding-left: 10px;
}

.sidebar__releaseContainer input::-webkit-outer-spin-button,
.sidebar__releaseContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
